/httpd.conf
/httpd_fcgi.conf
/httpd_envs.conf
/httpd_hosts.conf

# dist dirs
/misc
/certs
/extra
/private
/original

# dist files
/magic
/mime.types
/openssl.cnf
/charset.conv

/openssl.*
/ct_log_list.cnf*
